@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
#root {
  font-family: "Source Sans Pro", sans-serif;
}

body{
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;

  display: flex;
  position: relative;
}

.content {
  width: 100%;
  margin-left: var(--marginLeft);
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 10px;
}

.menu-item:active {
  background-color: #d52626 !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.imageSelect-button:hover {
  /* background-color: #fde15d !important; */
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.selected {
  background-color: #db331c !important;
}

.smallscreen-stepper {
  flex-direction: column !important;
  align-items: start !important;
  transition: all 0.2s ease-in-out;
}

.smallscreen-stepper .MuiStep-root {
  padding: 4px !important;
  transition: all 0.2s ease-in-out;
}
